# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\代码文件\liuliang\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
